@model Data.Entities.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SafetyStockNumb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SafetyStockNumb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReorderPoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandardCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandardCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
