@using Assessment_one.Models
@using PagedList.Mvc
@model PagedList.IPagedList<Data.Entities.Product>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<div id="Tbl">
    <table id="tblProd">
        <thead>
            <tr>
                <th>Name</th>
                <th> </th>
                <th>Product Number</th>
                <th> </th>
                <th>Color</th>
                <th> </th>
                <th>Stock Available</th>
                <th> </th>
                <th>Cost</th>
            </tr>
        </thead>

        <tbody id="body">


            @foreach (var pr in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => pr.Name)</td>
                    <td>
                    <td>
                    <td>@Html.DisplayFor(modelItem => pr.ProductNumber)</td>
                    <td>
                    <td>
                    <td>@Html.DisplayFor(modelItem => pr.Color)</td>
                    <td>
                    <td>
                    <td>@Html.DisplayFor(modelItem => pr.StockNumber)</td>
                    <td>
                    <td>
                    <td>@Html.DisplayFor(modelItem => pr.StandardCost)</td>
                    <td>
                    <td>
                </tr>


            }
        </tbody>
    </table>
</div>
<div class="col-sm-10">
    <div class="center" id="centerDisp">
        @Html.PagedListPager(Model, page => Url.Action("Index",
     new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage
        of @Model.TotalItemCount Products
    </div>
</div>



