@using Assessment_one.Models
@model Assessment_one.Models.Production

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<div id="Tbl">
    <table id="tblProd">
        <thead>
            <tr>
                <th>Name</th>
                <th> </th>
                <th>Product Number</th>
                <th> </th>
                <th>Color</th>
                <th> </th>
                <th>Stock Available</th>
                <th> </th>
                <th>Cost</th>
            </tr>
        </thead>

        <tbody id="body">


            @foreach (var pr in Model.Products.Take(10).Skip(3))
            {

                <tr>
                    <td>@pr.Name</td>
                    <td> </td>
                    <td>@pr.ProductNumber</td>
                    <td> </td>
                    <td>@pr.Color</td>
                    <td> </td>
                    <td>@pr.StockNumber</td>
                    <td> </td>
                    <td>@pr.StandardCost</td>
                </tr>


            }
        </tbody>
    </table>
</div>

<ul class="pagination">
    <li><a onclick="previous()">Previous</a></li>
    <li><a onclick="next()">Next</a></li>
</ul>

<script type="text/javascript">
    var pro=@Model.Products;

    $(document).ready = function (){

    };

    function next() {
        return pro.Skip(10);
    }

    function previous() {
        return pro.Skip(10);
    }
</script>


